# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# TypeScript
*.tsbuildinfo

# Build output
dist/

# Env files
.env
.env.*
!.env.example

# npm
.npm

# pnpm
.pnpm-store
